*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
/* ------------ Header ------------ */
.header{
    width: 850px;
    margin-left: 18%;
    margin-top: -3%;
}
.header img{
    width: 100%;
    height: auto;
}
.main-icon{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
.main-nav i{
    color: #fff;
    font-weight: lighter;
    
}
.main-nav{
    margin-top: 10px;
}
.main-nav ul{
    display: flex;
    justify-content: space-evenly;
}
.main-nav a:hover{
    color: rgb(255, 136, 0);
}
.main-nav a{
    color: rgb(132, 220, 255);
    padding-left: 10px;
}