.container a {
  text-decoration: none;
  color: rgb(255, 87, 87);
}

.container img {
  width: 250px;
  height: 200px;
  border-radius: 3px;
}

.container p:hover {
  color: steelblue;
}
.container p {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.container h3 {
  color: white;
  display: inline-block;
}
